<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: profile, class: "profiles__form") do |form| %>
    <div class="field field--text">
      <%= form.label :name, class: "field__label" %>
      <%= form.text_field :name, class: "field__input" %>
    </div>
    <div class="field field--text">
      <%= form.label :link, class: "field__label" %>
      <%= form.text_field :link, class: "field__input" %>
    </div>
    <div class="field field--text">
      <%= form.label :bio, class: "field__label" %>
      <%= form.text_area :bio, class: "field__input" %>
    </div>
    <div class="field field--select">
      <%= form.collection_select :skill_ids, Skill.all, :id, :name, {}, { class: "field__input field__input--multiselect", multiple: true } %>
    </div>
    <div class="actions">
      <%= form.submit "Save", class: "button" %>
    </div>
  <% end %>
<% end %>
