<!DOCTYPE html>
<html>
  <head>
    <%= render 'google_analytics' %>
    <title>Human Skills - Match with right person for what you need</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="content-wrapper">
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
